body{
        background-color: #E8F6EF;
    }

hr{
    border-style: none;
    border-top-style: dotted;
     height: 0px;
    width: 2%;
    border-color: #B8DFD8;
    border-width: 5px;
    }

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}

p{
    color: #345B63;
}

td{
    color: #345B63;
}

ul{
    color: #345B63;
}

a{
    color: #00A19D;
    text-decoration: none;
}